body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* margin: 0px 200px; */
  background: linear-gradient(90deg, #e6e9f0, #eef1f5);
}
/* h1,
h2,
h4 {
  color: darkslategrey;
} */
p,
li {
  text-align: left;
}
ul {
  list-style-type: disc;
}

/* Heading */
.heading_name {
  margin-bottom: 4px;
}
.heading_title {
  color: #777;
  margin-top: 0px;
  margin-bottom: 8px;
}
.heading_info {
  margin-top: 2px;
}
.img_profile {
  margin-top: 50px;
}
/* Heading */
/* Objective */
#objective {
  padding: 10px;
  border-radius: 5px;
}
/* Skills */
#technical-skills {
  padding: 10px;
  border-radius: 5px;
}
/* Education */
#education {
  padding: 10px;
  border-radius: 5px;
}
.education_title {
  margin-bottom: 4px;
}
.education_school,
.education_status {
  text-align: justify;
  margin: 0;
}
.education_title,
.education_school,
.education_status {
  margin-left: 20px;
}
/*Award*/
#awards {
  padding: 10px;
  border-radius: 5px;
}
.award {
  margin: 0px;
}
.detail {
  margin-top: 2px;
}
.award,
.detail {
  margin-left: 20px;
}
/*Award*/
/* Experience */
#experience {
  border-radius: 5px;
}
.experience {
  padding: 15px;
  border-radius: 5px;
}
.experience_title {
  margin-bottom: 4px;
}
.experience_company {
  margin-bottom: 4px;
  margin-top: 4px;
}
/* Experience */

/* Footer */
#footer {
  margin: 20px;
  margin-top: 20px;
  color: #777;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background: linear-gradient(90deg, #e6e9f0, #eef1f5);
}
/* Footer */
@media (max-width: 500px) {
  body {
    margin: 0px 20px;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  body {
    margin: 0px 40px;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  body {
    margin: 0px 100px;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  body {
    margin: 0px 150px;
  }
}
@media (min-width: 1201px) {
  body {
    margin: 0px 300px;
  }
}
@media (max-width: 800px) {
  /* Heading */
  .heading {
    flex-direction: column; /* Stacked vertically on mobile */
  }
  .img_profile {
    text-align: center; /* Center the image on mobile */
    margin-top: 20px; /* Add some space above the image on mobile */
  }

  .heading_info,
  .heading_title,
  .heading_name {
    text-align: center; /* Center the text on mobile */
  }
  .heading_desc {
    margin: 0 auto; /* Center the paragraph on mobile */
    text-align: center; /* Center the text on mobile */
  }
  .heading_info {
    margin: 0 auto; /* Center the paragraph on mobile */
  }
  /* Heading */
}
